<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Search by title</mat-label>
          <input matInput placeholder="Placeholder" [formControl]="titleField">
        </mat-form-field>
        <div class="input-group-append">
          <button mat-raised-button color color="primary" (click)="searchTitle()">Search</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <mat-card 
        *ngFor="let tutorial of tutorials; let i = index"
        (click)="setActiveTutorial(tutorial, i)"
      > 
        <mat-card-title>{{tutorial.title}}</mat-card-title>
        <mat-card-content>{{tutorial.description}}</mat-card-content>
      </mat-card>
      <button mat-raised-button color="primary" (click)="removeAllTutorials()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <mat-card *ngIf="currentTutorial">
        <mat-card-title-group>Current tutorial</mat-card-title-group>
        <mat-card-title>Title: {{currentTutorial.title}}</mat-card-title>
        <mat-card-content>Description: {{ currentTutorial.description }}</mat-card-content>       
        <mat-card-subtitle>Status: {{ currentTutorial.published ? "Published" : "Pending" }}
          <button *ngIf="currentTutorial.published === false" mat-raised-button color="primary" (click)="publishTutorial(true)">Publish</button>
        </mat-card-subtitle>
        <div *ngIf="currentTutorial.images.length !== 0">
          <mat-card-subtitle>Images:</mat-card-subtitle>
            <img *ngFor="let image of currentTutorial.images" mat-card-xl-image src="{{image}}">
        </div>
        <button mat-raised-button color="primary" (click)="editTutorial()">Edit</button>
      </mat-card>
      <div *ngIf="!currentTutorial">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>
  