<div *ngIf="currentTutorial._id">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Tutorial title</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="titleField">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Placeholder" [formControl]="descriptionField">
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
    <div class="form-group">
      <label><strong>Status:</strong></label>
      {{ currentTutorial.published ? "Published" : "Pending" }}
    </div>
  <button mat-raised-button color="primary" *ngIf="currentTutorial.published" (click)="updatePublished(false)">UnPublish</button>
  <button mat-raised-button color="primary" *ngIf="!currentTutorial.published" (click)="updatePublished(true)">Publish</button>
  <button mat-raised-button color="primary" (click)="deleteTutorial()">Delete</button>
  <button mat-raised-button color="primary"  (click)="updateTutorial()">Update</button>
</div>
<div *ngIf="!currentTutorial._id">
  <h2>Cannot access this Tutorial...</h2>
</div>