/*
https://material.angular.io/guide/getting-started
https://material.angular.io/components/categories
https://tomastrajan.medium.com/the-complete-guide-to-angular-material-themes-4d165a9d24d1
https://www.positronx.io/create-angular-material-8-custom-theme/

SCSS guide: https://blog.logrocket.com/the-definitive-guide-to-scss/
*/

@import '~@angular/material/theming';

@include mat-core();

$max-width-body-px: 700px;
$min-width-body-px: 500px;
$margin-px: 10px;

$width-perc: 90%;

$backgr-col: antiquewhite;

p {
    font-size: 15px;
}

body {
    max-width: $max-width-body-px;
    margin: auto;
    text-align: center; /*Center horizontally*/ 
}

button {
    margin: 8px !important;
}

@mixin center-ver {
    display: flex;
    justify-content: center;
}
@mixin center-hor {
    /*
    display: flex;
    text-align: center;
    */
    margin: auto;
    width: $width-perc;
};

@mixin center-hor-ver {
    @include center-ver();
    @include center-hor();
}

.mat-card, .mat-form-field {
    margin-top: $margin-px;
    margin-right: auto;
    margin-left: auto;
    width: $width-perc;
}