/* You can add global styles to this file, and also import other style files */
body {
    background-color: #22AAA1;
    /*max-width: fit-content;
    margin: auto;*/
}
p {
    font-family: verdana;
    font-size: 20px;
}

a:visited {color: black;}   /* Visited link    */
a:hover {color:darkcyan;}   /* Mouse over link */

.form-group {
    background-color: #84CAE7;
    border: 1px solid #136F63;
    border-radius: 5px;
    margin: 5px;
    text-align: start;
    width: min-content;
}

.btn{
    background-color: #84CAE7;
    border: 1px solid #136F63;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    min-width: fit-content;
    width: 10%;
    line-height: 25px;
}

input{
    background-color: honeydew;
}