<div>
  <div class="submit-form">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="emailField" required>
        <mat-error *ngIf="emailField.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hidePasswordField ? 'password' : 'text'" [formControl]="passwordField">
        <button mat-icon-button matSuffix (click)="hidePasswordField = !hidePasswordField" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordField">
          <mat-icon>{{hidePasswordField ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color color="primary" (click)="loginUser()">Login</button>
  </div>
  <button mat-raised-button color color="primary" (click)="logoutUser()">Logout</button>
</div>
  