<div>
  <div class="submit-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        required
        [(ngModel)]="user.email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="name">Password</label>
      <input type ="password"
        class="form-control"
        id="name"
        required
        [(ngModel)]="user.password"
        name="name"
      />
    </div>
    <button mat-raised-button color color="primary" (click)="loginUser()">Login</button>
  </div>
  <button mat-raised-button color color="primary" (click)="logoutUser()">Logout</button>
</div>
  