<div class="main-div">
  <div class="top-nav-bar">
    <nav>
      <button mat-raised-button color color="primary" routerLink="tutorials">Tutorials</button>
      <button mat-raised-button color color="primary" routerLink="addTutorial" >Add tutorial</button>
      <button mat-raised-button color color="primary" routerLink="setTutorialUser">Set tutorial user</button>
      <button mat-raised-button color color="primary" routerLink="addUser">Add user</button>
      <button mat-raised-button color color="primary" routerLink="login">Login/Logout</button>
    </nav>
  </div>
  <div>
    <app-user-lateral-panel></app-user-lateral-panel>
  </div>
  <div>
      <router-outlet></router-outlet>
  </div>
</div>