<div>
  <div *ngIf="!submitted">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Tutorial title</mat-label>
        <input matInput placeholder="Placeholder" [formControl]="titleField">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Placeholder" [formControl]="descriptionField">
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Images</mat-label>
        <input matInput [(ngModel)]="actualImage">
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="addImage()">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
    <button mat-raised-button color="primary" (click)="saveTutorial()">Submit</button>
  </div>
  <div *ngIf="submitted">
    <h4>Tutorial was submitted successfully!</h4>
    <button mat-raised-button color color="primary" (click)="newTutorial()">Add</button>
  </div>
</div>
  